/*
 * Color pallete
 * #240e28 - black
 * #521a4a - purple
 * #d8247c - red
 * #25a9f0 - blue
 * #f3ea5f - yellow (decrative only, color contrast to low for text)
 * #ffffff - white
 */
/*
 * Fonts
 */
body,
.entry-title,
.page .panel-content .entry-title {
	color: #240e28
}

h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a {
	font-family: 'Roboto Slab', serif;
}

h1.entry-title,
.home h2 {
	color: #521a4a;
}

a,
.entry-title a,
a strong {
	color: #25a9f0;
}
a:hover,
h3.entry-title a:hover {
	color: #25a9f0;
}

strong {
	color: #521a4a;
}

button,
input[type="button"],
input[type="submit"],
.entry-footer .edit-link a.post-edit-link {
	background-color: #521a4a;
}

/*
 * Navigation Styles
 */
.menu-primary-container a {
	color: #d8247c;
}

.main-navigation li li:hover > a,
.main-navigation li li a:hover {
	color: #240e28;
	background-color: #f3ea5f;
}
/*
 * Footer
 */
.site-footer {
	background-color: #521a4a;
	color: #fff;
}
.site-footer strong {
	color: #fff;
}
.site-footer button, 
.site-footer input[type="button"], 
.site-footer input[type="submit"],
.site-footer .entry-footer .edit-link a.post-edit-link {
	background-color: #fff;
	color: #521a4a;
}

.site-footer a,
.site-footer .entry-title a,
.site-footer a strong {
	color: #fff;
}

.site-footer h2.widget-title {
	color: #fff;
}
/*
 *	Organizer Page CSS - https://2018.riverside.wordcamp.org/organizers
 */
div.wcorg-organizer h2 {
	padding-top: 3rem;
}

/*
 * Gravitar's Avatar
 */ 
img.avatar {
	float: left;
	margin-right: 1rem;
	padding: 0;
	border-color: #f3ea5f #f3ea5f #d8247c #d8247c !important;
    	border-radius: 3em;
    	border-width: 0.4em 0.4em 0.2em 0.2em !important;
    	border: solid;
}
/*
 * Sponsors Page
 */
.page-slug-sponsors .entry-content h2 {
	text-align: center;
	font-size: 6em;
	background: #f3ea5f;
	color: #fff;
	border-radius: 2px;
}
