/*
 * Color pallete
 * #240e28 - black
 * #521a4a - purple
 * #d8247c - red
 * #25a9f0 - blue
 * #ffffff - white
 */
/*
 * Fonts
 */
body,
.entry-title,
.page .panel-content .entry-title {
	color: #240e28
}

h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
.site-title {
	font-family: 'Roboto Slab', serif;
}

h1.entry-title,
.home h2,
.entry-content h2,
.entry-content h3 {
	color: #521a4a;
}

.entry-title a,
a strong {
	color: #25a9f0;
}
a:hover,
h3.entry-title a:hover {
	color: #25a9f0;
}

strong {
	color: #521a4a;
}

/*
 * Buttons, input, and forms components
 */
button,
input[type="button"],
input[type="submit"],
.entry-footer .edit-link a.post-edit-link {
	background-color: #521a4a;
}

 a.button {
	 display: inline-block;
	 padding: 0.75em 1.5em;
	 color: #521a4a !important;
	 background-color: #fff;
	 box-radius: 2px;
	 font-weight: bold;
}

#content .contact-form input[type="email"],
#content .contact-form input[type="text"],
#content .contact-form input[type="url"] {
	width: 80%;
}

/*
 * Navigation Styles
 */
.menu-primary-container a {
	color: #d8247c;
}

/*
 * Site Branding - 
 */
 
.page .wp-custom-header img,
.single .wp-custom-header img,
.blog .wp-custom-header img {
	display: none;
}

.home .wp-custom-header img {
	display: block;
}

.page .custom-header,
.single .custom-header,
.blog .custom-header {
	background-color: #240e28;
}

/* Hide custom-logo on home */
.home a.custom-logo-link {
	display: none;
}

/*
 * Site content area
 */
.site-content {
    border-bottom: 1em solid #d8247c;
}

.single-featured-image-header {
	margin: 0 0 2.5rem 0;
	background-color: #fff;
}
/*
 * Footer
 */
.site-footer {
	margin-top: 1em;
	border-top: 1em solid #25a9f0;
	background-color: #521a4a;
	color: #fff;
	background-image: url('https://2018.riverside.wordcamp.org/files/2018/08/wiggle-pattern-5-opacity.png');

}
.site-footer strong {
	color: #fff;
}
.site-footer button, 
.site-footer input[type="button"], 
.site-footer input[type="submit"],
.site-footer .entry-footer .edit-link a.post-edit-link {
	background-color: #fff;
	color: #521a4a;
}

.site-footer a,
.site-footer .entry-title a,
.site-footer a strong {
	color: #fff;
}

.site-footer h2.widget-title {
	color: #fff;
}

/* Footer - Sponsor Logos */

.site-footer .sponsor-level.micro-machine {
	display: none;
}

.site-footer .sponsor-level h4.sponsor-level-title {
	margin:0;
	padding: 1.5rem 0 1rem 0;
	font-size: 2em;
}

.site-footer .big-hair-band a.sponsor-logo,
.site-footer .bronze a.sponsor-logo,
.site-footer .silver a.sponsor-logo,
.site-footer .gold a.sponsor-logo,
.site-footer .platinum a.sponsor-logo {
	display: block;
	float: left;
	padding: 0.25rem;
	margin: 0.25rem;
	background-color: #fff;
}

.site-footer .silver a.sponsor-logo,
.site-footer .gold a.sponsor-logo {
	width: 47%;
}

.site-footer .bronze a.sponsor-logo,
.site-footer .big-hair-band a.sponsor-logo {
	width: 28%;
}

.site-footer .platinum .sponsor-logo {
	height: 10rem;
}

.site-footer .gold .sponsor-logo,
.site-footer .silver .sponsor-logo {
	height: 7rem;
}

.site-footer .bronze .sponsor-logo,
.site-footer .big-hair-band .sponsor-logo {
	height: 4rem;
}

.site-footer .sponsor-logo img {
	top: 50%;
	left: 50%;
	padding: .25rem;
	transform: translate(-50%,-50%);
	position: relative;
}

.site-footer .widget h4 {
	margin-top: 2em;
	text-align:center;
	color: #fff;
}

.site-footer .widget-area a {
	box-shadow: none;
}

.entry-content a img, .comment-content a img, .widget a img {
    -webkit-box-shadow: none;
    box-shadow: none;
/*
 *	Organizer Page
 */
.wcorg-organizer h2 {
	padding-top: 3rem;
}

.wcorg-organizer h3 {
	display: inline;
}

/*
 * Gravitar's Avatar
 */ 
.site-content img.avatar {
	float: left;
	margin-right: 1rem;
	padding: 0;
	border-color: #25a9f0 #25a9f0 #d8247c #d8247c !important;
    	border-radius: 3em;
    	border-width: 0.3em !important;
    	border: solid;
}
/*
 * Sponsors Page
 */
.page-slug-sponsors .entry-content h2 {
	margin-top: 3rem;
	border-radius: 2px;
	text-align: center;
	font-size: 3em;
	background: #25a9f0;
	background-image: url('https://2018.riverside.wordcamp.org/files/2018/08/wiggle-pattern-5-opacity.png');
	color: #fff;
}
wcorg-sponsors h3 {
	padding: 1rem 0;
}

.wcorg-organizers .avatar-default {
	display: none;
}
